<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :what %><br />
    <%= f.text_field :what, :placeholder => "Placeholder" %>
  </div>
  <div class="field">
    <%= f.label :where %><br />
    <%= f.text_field :where %>
  </div>
  <div class="field">
    <%= f.label :when %><br />
    <%= f.text_field :when %>
  </div>
  <div class="field">
  	<%= label_tag :emails, "Email addresses to invite" %>
  	<%= text_field_tag(:email) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
