<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :what, :placeholder => "What's the idea?" %>
  </div>
  <div class="">
	  <div class="field">
		<%= f.text_field :where, :placeholder => "Where?" %>
	  </div>
	  <div class="field">
		<%= f.text_field :when, :placeholder => "When?" %>
	  </div>
  </div>
  <div class="field">
  	<%= text_field_tag :email, nil, :placeholder => "Invite your friends" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
