<div id="idea_list">

<%= link_to "Float an Idea", new_idea_path, :id => "float_idea" %>

<% if @ideas.empty? %>
<p>Nothing to Do! Float Something!</p>
<% else %>
<ul>
<% @ideas.each do |idea| %>
	<li>
	<h2><%= idea.what %></h2>
	
	<div class="location"><%= idea.where %></div>
	<div class="time"><%= idea.when %></div>
	
	<div class="ago"><%= time_ago_in_words(idea.updated_at) %> ago</div>
	
	<% if current_user.id == idea.organizer %>
	<%= link_to 'Show', idea %>
	<%= link_to 'Edit', edit_idea_path(idea) %>
	<%= link_to 'Destroy', idea, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	</li>
<% end %>
</ul>
<% end %>