<div id="idea_list">

<% if @ideas.empty? %>
<div class="idea">
<h3>You don't have any floated ideas!</h3>
<p>Get started</p>
</div>
<% else %>
<ul>
<% @ideas.each do |idea| %>
	<li class="idea">
	<h2><%= link_to idea.what, idea %></h2>
	<div class="ago"><%= time_ago_in_words(idea.updated_at) %> ago</div>
	<%= link_to "", idea, :class => "arrow" %>
	
	<div class="actions">
		<% whereText = idea.where.empty? ? "Anywhere" : idea.where %>
		<% whenText  = idea.when.empty?  ? "Any time" : idea.when %>
		
		<div class="location"><span class="icon loc"></span><%= whereText %></div>
		
		<div class="time"><span class="icon time"></span><%= whenText %></div>
	</div>
	
	<%= idea.inspect %>
	
	</li>
<% end %>
</ul>
<% end %>