<div id="idea_page">

<div class="idea_details idea">
<h2><%= @idea.what.empty? ? "No title" : @idea.what %></h2>
<div class="ago"><%= time_ago_in_words(@idea.updated_at) %> ago</div>

<div class="actions">
	<% whereText = @idea.where.empty? ? "Anywhere" : idea.where %>
	<% whenText  = @idea.when.empty?  ? "Any time" : idea.when %>
	
	<div class="location"><span class="icon loc"></span><%= whereText %></div>
	
	<div class="time"><span class="icon time"></span><%= whenText %></div>
</div>

<div class="clear"></div>

<% if signed_in? && current_user.id == @idea.organizer %>
<div class="user_controls">
<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Destroy', @idea, :confirm => 'Are you sure?', :method => :delete %>
</div>
<% end %>

<%= link_to 'Back', ideas_path %>

<%= @count %>
</div>
</div>

<% if signed_in? %>
<%= render 'shared/commenter' %>
<% end %>
<ul>
<%= render @comments %>
</ul>
</div>