<%= form_for(@comment) do |f| %>
<div class="field">
	<%= f.label :message %>
	<%= f.text_field :message %>
</div>
<%= f.hidden_field :idea_id, :value => @idea.id %>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>