<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag :defaults %>
	<!-- The above Javascript is used to 'Fake' the DELETE request, 
		since Web Browsers cannot send DELETE requests natively -->
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />
</head>
<body>
	<%= render 'layouts/header' %>

	<section>
		<% flash.each do |key, value| %>
			<div class="container"><%= content_tag(:div, value, :class => "flash #{key}") %></div>
		<% end %>
		<% if is_not_splashpage? %><div class="container"><% end %>
		<%= yield %>
		<% if is_not_splashpage? %></div><% end %>
		
	</section>

	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
